<div class="panel panel-primary"
     ng-controller="ProductListCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">{{::vm.title}}
    </div>

    <div class="panel-body">
        <table class="table">
            <h2>{{vm.person.name}}</h2>
            <thead>
            <tr>
                <td>
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="vm.toggleImage()">
                        {{vm.showImage ? "Hide" : "Show"}} Image
                    </button>
                </td>
                <td>Title</td>
                <td>Producer</td>
                <td>Created Date</td>
                <td>First 3 Characters</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="film in vm.person.films">
                <td>
                    <img ng-if="vm.showImage"
                         ng-src="{{product.imageUrl}}"
                         style="width:50px;margin:2px"
                         title="{{product.productName}}">
                </td>
                <td>{{ film.title}} </td>
                <td>{{ film.director }}</td>
                <td>{{ film.created | date }}</td>
                <td>
                    <span style="display: block;"ng-repeat="character in film.charactersInfo track by $index">
                        {{character}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
